@import "../../styles/index";

.section__total {
  display: grid;
  grid-gap: $grid-gap;
  grid-template-rows: auto;
  grid-template-columns: 1fr;

  @include for-tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include for-desktop {
    grid-template-columns: repeat(4, 1fr);
  }

  &__label {
    color: #fff;
    border-radius: 3px;
    padding: 4px 8px;
    font: {
      size: 9px;
    }

    &--1 {
      background-color: #1c84c6;
    }
    &--2 {
      background-color: #23c6c8;
    }
    &--3 {
      background-color: #1ab394;
    }
    &--4 {
      background-color: #ed5565;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__sum {
    font-size: 25px;
    line-height: 1.5;
  }

  &__percent {
    font-size: 11px;

    &--1 {
      color: #1c84c6;
    }

    &--2 {
      color: #23c6c8;
    }

    &--3 {
      color: #1ab394;
    }

    &--4 {
      color: #ed5565;
    }
  }
}
